# v1.0.1

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

max_line_length = 120

[*.py]
indent_size = 4

[*.php]
indent_size = 4
insert_final_newline = false
