<div class='d-flex justify-content-end p-1 bg-white border-top border-1 border-sake-secondary'>
  <a href='#' id='sake_download' class='btn btn-outline-sake-secondary rounded-0'>Download as file</a>
</div>
<pre id='sake_output' class='bg-white text-dark p-2 mb-0 border-top border-1 border-sake-secondary'></pre>
