.btn[data-bs-toggle='modal'] {
  z-index: 99991;
}

#sake_output {
  height: 300px;
}

.modal-backdrop {
  z-index: 99992;
}

.modal {
  z-index: 99993;

  .modal-header-logo {
    width: 96px;
    height: 96px;
  }

  .resize-none {
    resize: none;
  }
}
